// master imports
@import 'variables';
@import 'mixins';

// reset
* {
	@include reset(0, 0, border-box, none, none);
}

// body
html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: $mainFont;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $simpleWeather;
}

// code
code {
	font-family: 'Courier New', monospace;
}

// links
a {
	color: $spotBlue;
	text-decoration: none;
	&:hover {
		color: $cloudsDarkest;
	}
}

// lists
ul {
	text-align: center;
	padding-left: 0;
}

li {
	padding: 0.2rem 0;
	color: $clouds;
	cursor: pointer;
	&:hover {
		color: $cloudsDarkest;
	}
}

// hr
hr {
	margin: 1rem auto;
	width: 200px;
	height: 4px;
	color: $clouds;
}

// cursor
.pointerCursor {
	cursor: pointer;
}

// positions
.positionRelative {
	position: relative;
}

.positionAbsolute {
	position: absolute;
}

.positionFixed {
	position: fixed;
}

// position control
.fullPageFixed {
	background: $dark;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
}

.fullPageFixedInner {
	bottom: 0;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

// navbar
.navbar {
	text-align: right;
	@include bp(xxs) {
		flex-direction: column;
		text-align: center;
	}
}

// overflow
.overFlow {
	overflow: hidden;
}
