// master imports
@import 'variables';
@import 'mixins';

// reset
* {
	@include reset(0, 0, border-box, none, none);
}

// body
html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: $mainFont;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $dark;
}

// code
code {
	font-family: 'Courier New', monospace;
}

// links
a {
	text-decoration: none;
}

// positions
.positionRelative {
	position: relative;
}

.positionAbsolute {
	position: absolute;
}

.positionFixed {
	position: fixed;
}

// position control
.fullPageFixed {
	background: $dark;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
}

.fullPageFixedInner {
	bottom: 0;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

// navbar
.navbar-xxs {
	@include bp(xxs) {
		flex-direction: column;
		text-align: center;
	}
}
