// master imports
@use'variables';

// BACKGROUND COLOURS

// simpleWeather
.bg-simpleWeather {
	background: variables.$simpleWeather;
}

// basic
.bg-dark {
	background: variables.$dark;
}
.bg-light {
	background: variables.$light;
}

// spot colours
.bg-spotYellow {
	background: variables.$spotYellow;
}
.bg-spotBlue {
	background: variables.$spotBlue;
}
.bg-spotOrange {
	background: variables.$spotOrange;
}
.bg-spotGreen {
	background: variables.$spotGreen;
}
.bg-spotRed {
	background: variables.$spotRed;
}

// spot greys
.bg-spotGrey {
	background: variables.$spotGrey;
}
.bg-spotGreyLight {
	background: variables.$spotGreyLight;
}
.bg-spotGreyMed {
	background: variables.$spotGreyMed;
}
.bg-spotGreyDark {
	background: variables.$spotGreyDark;
}

// all groups night
.bg-night {
	background: variables.$night;
}
.bg-nightDark {
	background: variables.$nightDark;
}
.bg-nightDarkest {
	background: variables.$nightDarkest;
}

// group 2xx: thunderstorm
.bg-thunderStorm {
	background: variables.$thunderStorm;
}
.bg-thunderStormDark {
	background: variables.$thunderStormDark;
}
.bg-thunderStormDarkest {
	background: variables.$thunderStormDarkest;
}

// group 3xx: drizzle
.bg-drizzle {
	background: variables.$drizzle;
}
.bg-drizzleDark {
	background: variables.$drizzleDark;
}
.bg-drizzleDarkest {
	background: variables.$drizzleDarkest;
}

// group 5xx: rain
.bg-rain {
	background: variables.$rain;
}
.bg-rainDark {
	background: variables.$rainDark;
}
.bg-rainDarkest {
	background: variables.$rainDarkest;
}

// group 6xx: snow
.bg-snow {
	background: variables.$snow;
}
.bg-snowDark {
	background: variables.$snowDark;
}
.bg-snowDarkest {
	background: variables.$snowDarkest;
}

// group 7xx: atmosphere
.bg-atmosphere {
	background: variables.$atmosphere;
}
.bg-atmosphereDark {
	background: variables.$atmosphereDark;
}
.bg-atmosphereDarkest {
	background: variables.$atmosphereDarkest;
}

// group 800: clear
.bg-clearSky {
	background: variables.$clearSky;
}
.bg-clearSkyDark {
	background: variables.$clearSkyDark;
}
.bg-clearSkyDarkest {
	background: variables.$clearSkyDarkest;
}

// group 80x: clouds
.bg-clouds {
	background: variables.$clouds;
}
.bg-cloudsDark {
	background: variables.$cloudsDark;
}
.bg-cloudsDarkest {
	background: variables.$cloudsDarkest;
}

// FOREGROUND COLOURS

// simpleWeather
.simpleWeather {
	color: variables.$simpleWeather;
}

// basic
.dark {
	color: variables.$dark;
}
.light {
	color: variables.$light;
}

// spot colours
.spotYellow {
	color: variables.$spotYellow;
}
.spotBlue {
	color: variables.$spotBlue;
}
.spotOrange {
	color: variables.$spotOrange;
}
.spotGreen {
	color: variables.$spotGreen;
}
.spotRed {
	color: variables.$spotRed;
}

// spot greys
.spotGrey {
	color: variables.$spotGrey;
}
.spotGreyLight {
	color: variables.$spotGreyLight;
}
.spotGreyMed {
	color: variables.$spotGreyMed;
}
.spotGreyDark {
	color: variables.$spotGreyDark;
}

// all groups night
.night {
	color: variables.$night;
}
.nightDark {
	color: variables.$nightDark;
}
.nightDarkest {
	color: variables.$nightDarkest;
}

// group 2xx: thunderstorm
.thunderStorm {
	color: variables.$thunderStorm;
}
.thunderStormDark {
	color: variables.$thunderStormDark;
}
.thunderStormDarkest {
	color: variables.$thunderStormDarkest;
}

// group 3xx: drizzle
.drizzle {
	color: variables.$drizzle;
}
.drizzleDark {
	color: variables.$drizzleDark;
}
.drizzleDarkest {
	color: variables.$drizzleDarkest;
}

// group 5xx: rain
.rain {
	color: variables.$rain;
}
.rainDark {
	color: variables.$rainDark;
}
.rainDarkest {
	color: variables.$rainDarkest;
}

// group 6xx: snow
.snow {
	color: variables.$snow;
}
.snowDark {
	color: variables.$snowDark;
}
.snowDarkest {
	color: variables.$snowDarkest;
}

// group 7xx: atmosphere
.atmosphere {
	color: variables.$atmosphere;
}
.atmosphereDark {
	color: variables.$atmosphereDark;
}
.atmosphereDarkest {
	color: variables.$atmosphereDarkest;
}

// group 800: clear
.clearSky {
	color: variables.$clearSky;
}
.clearSkyDark {
	color: variables.$clearSkyDark;
}
.clearSkyDarkest {
	color: variables.$clearSkyDarkest;
}

// group 80x: clouds
.clouds {
	color: variables.$clouds;
}
.cloudsDark {
	color: variables.$cloudsDark;
}
.cloudsDarkest {
	color: variables.$cloudsDarkest;
}

// GREYSCALE
.greyScale {
	filter: grayscale(1);
	opacity: 0.5;
}
