// font mixin
@mixin font($font-family, $font-file) {
	@font-face {
		font-family: $font-family;
		src: url($font-file);
	}
}

// import web font
@include font(
	'Merriweather Sans',
	'https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap'
);

// main font family
$mainFont: 'Merriweather Sans', sans-serif;

// font
.fontLt {
	color: $light;
	font-family: $mainFont;
	@include fontSize;
	font-weight: map-get($fontWeight, 'lt');
}

.fontRg {
	color: $light;
	font-family: $mainFont;
	@include fontSize;
	font-weight: map-get($fontWeight, 'rg');
}

.fontBd {
	color: $light;
	font-family: $mainFont;
	@include fontSize;
	font-weight: map-get($fontWeight, 'bd');
}

// h1
.h1Lt {
	color: $light;
	font-family: $mainFont;
	@include h1Size;
	font-weight: map-get($fontWeight, 'lt');
}

.h1Rg {
	color: $light;
	font-family: $mainFont;
	@include h1Size;
	font-weight: map-get($fontWeight, 'rg');
}

.h1Bd {
	color: $light;
	font-family: $mainFont;
	@include h1Size;
	font-weight: map-get($fontWeight, 'bd');
}

// h2
.h2Lt {
	color: $light;
	font-family: $mainFont;
	@include h2Size;
	font-weight: map-get($fontWeight, 'lt');
}

.h2Rg {
	color: $light;
	font-family: $mainFont;
	@include h2Size;
	font-weight: map-get($fontWeight, 'rg');
}

.h2Bd {
	color: $light;
	font-family: $mainFont;
	@include h2Size;
	font-weight: map-get($fontWeight, 'bd');
}

// cursor for text
.cursorPointer {
	cursor: pointer;
}
