// font mixin
@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file);
  }
}

// import web font
@include font('Merriweather Sans', 'https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

// main font family
$mainFont: 'Merriweather Sans', sans-serif;

// fonts
.fontLt {
  color: $light;
  font-family: $mainFont;
  font-size: map-get($fontSize, 'xl');
  font-weight: map-get($fontWeight, 'lt');
}

.fontRg {
  color: $light;
  font-family: $mainFont;
  font-size: map-get($fontSize, 'xl');
  font-weight: map-get($fontWeight, 'rg');
}

.fontBd {
  color: $light;
  font-family: $mainFont;
  font-size: map-get($fontSize, 'xl');
  font-weight: map-get($fontWeight, 'bd');
}

// cursor for text
.cursorPointer {
  cursor: pointer;
}