// master imports
@import 'variables';
@import 'mixins';

// main icon
.mainIcon {
	@include iconHeight;
}

// main logo
.appLogoNav {
	height: 35px;
	margin-right: 10px;
}

// google badge
.googleBadge {
	height: 60px;
	@include bp(xs) {
		height: 45px;
	}
	max-height: 60px;
	max-width: 100%;
}

// bg images
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: url('../assets/img/bgimg-1.jpg');
	min-height: 100vh;
	@include bp(sm) {
		min-height: 200px;
	}
}

.bgimg-2 {
	background-image: url('../assets/img/bgimg-2.jpg');
	min-height: 400px;
	@include bp(sm) {
		min-height: 200px;
	}
}

.bgimg-3 {
	background-image: url('../assets/img/bgimg-3.jpg');
	min-height: 400px;
	@include bp(sm) {
		min-height: 200px;
	}
}

.bgimg-4 {
	background-image: url('../assets/img/bgimg-4.jpg');
	min-height: 100vh;
	@include bp(sm) {
		min-height: 200px;
	}
}

// screenshots
.screenShotWrapper {
	position: relative;
	@include bp(smmd) {
		display: flex;
		justify-content: center;
	}
}

.screenShot {
	height: 600px;
	border-radius: 30px;
	box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.25);
	@include bp(lg) {
		height: 500px;
	}
	@include bp(smmd) {
		height: 500px;
	}
	@include bp(sm) {
		height: 450px;
	}
	@include bp(xs) {
		height: 400px;
	}
}

.screenShotUnder {
	position: absolute;
	z-index: -1;
	top: 60px;
	left: 250px;
	@include bp(lg) {
		top: 60px;
		left: 210px;
	}
	@include bp(smmd) {
		position: initial;
		margin-left: 30px;
	}
	@include bp(sm) {
		margin-left: 15px;
	}
	@include bp(xs) {
		display: none;
	}
}

// icon slider
.icon-slider-wrapper {
	overflow: hidden;
}

.icon-slider {
	background: url('../assets/img/icon-slider.png') repeat-x;
	height: 150px;
	width: 9600px;
	animation: slide 25s linear infinite;
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-3200px, 0, 0);
	}
}

// arrow icon
.arrowIcon {
	z-index: 5;
	background-color: $dark;
	border-radius: 20%;
	cursor: pointer;
	position: fixed;
	bottom: 45px;
	right: 45px;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
	@include bp(sm) {
		bottom: 25px;
		right: 25px;
	}
	@include bp(xs) {
		bottom: 20px;
		right: 20px;
	}
}

// weather icon
.weatherIcon {
	height: 300px;
	width: 300px;
}
