// master imports
@import 'variables';
@import 'mixins';

// main icon
.mainIcon {
	@include iconHeight;
}

.appLogoNav {
	height: 35px;
	margin-right: 10px;
}

// google badge
.googleBadge {
	height: 60px;
	@include bp(xs) {
		height: 45px;
	}
	max-height: 60px;
	max-width: 100%;
}

// bg images
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: url('../assets/img/bgimg-1.jpg');
	min-height: 100vh;
	@include bp(sm) {
		min-height: 200px;
	}
}

.bgimg-2 {
	background-image: url('../assets/img/bgimg-2.jpg');
	min-height: 400px;
	@include bp(sm) {
		min-height: 200px;
	}
}

.bgimg-3 {
	background-image: url('../assets/img/bgimg-3.jpg');
	min-height: 400px;
	@include bp(sm) {
		min-height: 200px;
	}
}

.bgimg-4 {
	background-image: url('../assets/img/bgimg-4.jpg');
	min-height: 400px;
	@include bp(sm) {
		min-height: 200px;
	}
}

// icon slider img
.icon-slider-wrapper {
	overflow: hidden;
}

.icon-slider {
	background: url('../assets/img/icon-slider.png') repeat-x;
	height: 150px;
	width: 9600px;
	animation: slide 25s linear infinite;
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-3200px, 0, 0);
	}
}
