// master imports
@import 'variables';
@import 'mixins';

// logo
.appLogo {
	@include logoHeight;
}

.appLogoNav {
	height: 45px;
	margin-right: 10px;
}

// bg images
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: url('../assets/img/bgimg-1.jpg');
	min-height: 100vh;
}

.bgimg-2 {
	background-image: url('../assets/img/bgimg-2.jpg');
	min-height: 400px;
}

.bgimg-3 {
	background-image: url('../assets/img/bgimg-3.jpg');
	min-height: 400px;
}

.bgimg-4 {
	background-image: url('../assets/img/bgimg-4.jpg');
	min-height: 400px;
}

@media only screen and (max-device-width: 1024px) {
	.bgimg-1,
	.bgimg-2,
	.bgimg-3,
	.bgimg-4 {
		background-attachment: scroll;
	}
}

// icon slider img
.icon-slider-wrapper {
	overflow: hidden;
}

.icon-slider {
	background: url('../assets/img/icon-slider.png') repeat-x;
	height: 150px;
	width: 9600px;
	animation: slide 25s linear infinite;
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-3200px, 0, 0);
	}
}
