@use "sass:map";

@mixin reset($pad: null, $mar: null, $box: null, $deco: null, $listo: null) {
  padding: $pad;
  margin: $mar;
  box-sizing: $box;
  text-decoration: $deco;
  list-style-type: $listo;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin app-logo {
  height: map-get($logoHeight, 'xs');
  @include bp(md) {
    height: map-get($logoHeight, 'md');
  }
  @include bp(lg) {
    height: map-get($logoHeight, 'lg');
  }
  @include bp(xl) {
    height: map-get($logoHeight, 'xl');
  }
}
