// master imports
@use "sass:map";
@use'variables';

// general reset
@mixin reset($pad: null, $mar: null, $box: null, $deco: null, $listo: null) {
	padding: $pad;
	margin: $mar;
	box-sizing: $box;
	text-decoration: $deco;
	list-style-type: $listo;
}

// list reset
@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

// font sizes
@mixin fontSize {
	font-size: map-get(variables.$fontSize, 'xs');
	@include bp(sm) {
		font-size: map-get(variables.$fontSize, 'sm');
	}
	@include bp(md) {
		font-size: map-get(variables.$fontSize, 'md');
	}
	@include bp(lg) {
		font-size: map-get(variables.$fontSize, 'lg');
	}
	@include bp(xl) {
		font-size: map-get(variables.$fontSize, 'xl');
	}
	@include bp(xxl) {
		font-size: map-get(variables.$fontSize, 'xxl');
	}
}

// h1 sizes
@mixin h1Size {
	font-size: map-get(variables.$h1Size, 'xs');
	@include bp(sm) {
		font-size: map-get(variables.$h1Size, 'sm');
	}
	@include bp(md) {
		font-size: map-get(variables.$h1Size, 'md');
	}
	@include bp(lg) {
		font-size: map-get(variables.$h1Size, 'lg');
	}
	@include bp(xl) {
		font-size: map-get(variables.$h1Size, 'xl');
	}
	@include bp(xxl) {
		font-size: map-get(variables.$h1Size, 'xxl');
	}
}

// h2 sizes
@mixin h2Size {
	font-size: map-get(variables.$h2Size, 'xs');
	@include bp(sm) {
		font-size: map-get(variables.$h2Size, 'sm');
	}
	@include bp(md) {
		font-size: map-get(variables.$h2Size, 'md');
	}
	@include bp(lg) {
		font-size: map-get(variables.$h2Size, 'lg');
	}
	@include bp(xl) {
		font-size: map-get(variables.$h2Size, 'xl');
	}
	@include bp(xxl) {
		font-size: map-get(variables.$h2Size, 'xxl');
	}
}

// icon heights
@mixin iconHeight {
	height: map-get(variables.$iconHeight, 'xs');
	@include bp(sm) {
		height: map-get(variables.$iconHeight, 'sm');
	}
	@include bp(md) {
		height: map-get(variables.$iconHeight, 'md');
	}
	@include bp(lg) {
		height: map-get(variables.$iconHeight, 'lg');
	}
	@include bp(xl) {
		height: map-get(variables.$iconHeight, 'xl');
	}
	@include bp(xxl) {
		height: map-get(variables.$iconHeight, 'xxl');
	}
}

// media breakpoints
@mixin bp($point) {
	$bp-xs: 'screen and (max-width: 575px)';
	$bp-sm: 'screen and (min-width: 576px) and (max-width: 767px)';
	$bp-md: 'screen and (min-width: 768px) and (max-width: 991px)';
	$bp-lg: 'screen and (min-width: 992px) and (max-width: 1199px)';
	$bp-xl: 'screen and (min-width: 1200px) and (max-width: 1399px)';
	$bp-xxl: 'screen and (min-width: 1400px)';

	@if $point == xs {
		@media #{$bp-xs} {
			@content;
		}
	} @else if $point == sm {
		@media #{$bp-sm} {
			@content;
		}
	} @else if $point == md {
		@media #{$bp-md} {
			@content;
		}
	} @else if $point == lg {
		@media #{$bp-lg} {
			@content;
		}
	} @else if $point == xl {
		@media #{$bp-xl} {
			@content;
		}
	} @else if $point == xxl {
		@media #{$bp-xxl} {
			@content;
		}
	}
}
