// master imports
@import 'variables';
@import 'mixins';

.icon-slider-wrapper {
	overflow: hidden;
}

.icon-slider {
	background: url('../assets/img/bgimg-1.jpg') repeat-x;
	height: 150px;
	width: 4800px;
	animation: slide 40s linear infinite;
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-1600px, 0, 0);
	}
}
