// master imports
@import 'variables';
@import 'mixins';

// section container
.sectionContainer {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

// weather section container
.weatherContainer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

// terms and privacy containers
.sectionContainerPadded {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 5rem;
	padding-right: 5rem;
	@include bp(sm) {
		padding-left: 15px;
		padding-right: 15px;
	}
	@include bp(xs) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.privacyContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
