// master imports
@import 'variables';
@import 'mixins';

// features
.featuresWrapper {
	padding-left: 6em;
	padding-right: 6em;
	@include bp(sm) {
		padding-left: 3em;
		padding-right: 3em;
	}
}

.featuresTextWrapper {
	padding-top: 3.4em;
	@include bp(sm) {
		padding-top: 0;
	}
}
