// master imports
@import 'variables';
@import 'mixins';

// section container
.sectionContainer {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

// weather section container
.weatherContainer {
	padding-top: 3rem;
	padding-bottom: 3rem;	
}