// master imports
@use'variables';
@use'mixins';

// tippy theme
.tippy-box[data-theme~='simpleWeather'] {
	background-color: variables.$thunderStorm;
	color: variables.$light;
}

.tippy-box[data-theme~='simpleWeather'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: variables.$thunderStorm;
}
.tippy-box[data-theme~='simpleWeather'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: variables.$thunderStorm;
}
.tippy-box[data-theme~='simpleWeather'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: variables.$thunderStorm;
}
.tippy-box[data-theme~='simpleWeather'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: variables.$thunderStorm;
}
