// COLOUR CONTROL

// simpleWeather
$simpleWeather: #313136;

// basic
$dark: #2c2c2c;
$light: #eeeeee;

// spot colours
$spotYellow: #ffc82e;
$spotBlue: #1faadb;
$spotOrange: #fa774f;
$spotGreen: #37d493;
$spotRed: #ff6b6b;

// spot greys
$spotGrey: #c9c9c9;
$spotGreyLight: #fafafa;
$spotGreyMed: #a7a7a7;
$spotGreyDark: #2b2b2e;

// all groups night
$night: #083a5e;
$nightDark: #092d46;
$nightDarkest: #001c2e;

// group 2xx: thunderstorm
$thunderStorm: #17577a;
$thunderStormDark: #052c42;
$thunderStormDarkest: #021c2b;

// group 3xx: drizzle
$drizzle: #2485c7;
$drizzleDark: #0b5a8f;
$drizzleDarkest: #004472;

// group 5xx: rain
$rain: #065d97;
$rainDark: #013c63;
$rainDarkest: #002842;

// group 6xx: snow
$snow: #473f99;
$snowDark: #2c2b66;
$snowDarkest: #21204c;

// group 7xx: atmosphere
$atmosphere: #007982;
$atmosphereDark: #006168;
$atmosphereDarkest: #004c52;

// group 800: clear
$clearSky: #f5a03e;
$clearSkyDark: #e98330;
$clearSkyDarkest: #d8721f;

// group 80x: clouds
$clouds: #6e859e;
$cloudsDark: #546679;
$cloudsDarkest: #3e5063;

// BOOTSTRAP CONTROL

// adding a new theme color
$theme-colors: (
	'simple-weather': $simpleWeather,
	'light': #ffffff
);

// FONT

// main font family
$mainFont: 'Merriweather Sans', sans-serif;

// font weights
$fontWeight: (
	'lt': 300,
	'rg': 400,
	'bd': 700
);

// font sizes
$fontSize: (
	'xs': 0.9rem,
	'sm': 0.9rem,
	'md': 1rem,
	'lg': 1.1rem,
	'xl': 1.1rem,
	'xxl': 1.1rem
);

// h1 sizes
$h1Size: (
	'xs': 1.7rem,
	'sm': 2.2rem,
	'md': 2.7rem,
	'lg': 3.2rem,
	'xl': 3.7rem,
	'xxl': 3.8rem
);

// h2 sizes
$h2Size: (
	'xs': 1.3rem,
	'sm': 1.5rem,
	'md': 1.7rem,
	'lg': 2rem,
	'xl': 2.2rem,
	'xxl': 2.4rem
);
